@use "./helpers/" as *;

:root {
  --color-bg: #213555;
  --color-white: #ffffff;
  --color-accent: #5385d4;
  --color-dark: #000000;

  --font-family: "Inter";
  --font-title: "JetBrains Mono";

  --transition-duration: 0.2s;
}
