@use "./helpers/" as *;

:root {
  --color-dark-blue: #213555;
  --color-white: #ffffff;
  --color-accent: #90c6f8;
  --color-dark: #000000;
  --color-blue: #2f69d4;

  --font-family: "Inter";
  --font-title: "JetBrains Mono";

  --transition-duration: 0.2s;
}
