*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

:where([stroke]:not([stroke=none])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("/to do/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/to do/fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/to do/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/to do/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffe3e3;
  --color-light-text: #789dbc;
  --color-dark: #191820;
  --color-links: #a888b5;
  --color-button: #1d4a92;
  --color-button-bg: rgba(168, 136, 181, 0.5);
  --color-outline-done: #97959c;
  --color-bg-done: #92919642;
  --font: "Roboto";
  --border-50: 50%;
  --transition-duration: 0.2s;
}

.container {
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: 0.9375rem;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 36.06125rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 62.06125rem) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(0.875rem, 0.8220108696rem + 0.2173913043vw, 1rem);
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  color: var(--color-light-text);
  font-family: var(--font);
  font-weight: normal;
  line-height: 1.2;
}

body.dark-theme {
  background-color: var(--color-dark);
  color: var(--color-light);
}

h1,
.h1 {
  font-size: clamp(1.625rem, 1.5720108696rem + 0.2173913043vw, 1.75rem);
}

h2,
.h2 {
  font-size: clamp(1.5rem, 1.4470108696rem + 0.2173913043vw, 1.625rem);
}

h3,
.h3 {
  font-size: clamp(1.375rem, 1.3220108696rem + 0.2173913043vw, 1.5rem);
}

h4,
.h4 {
  font-size: clamp(1.25rem, 1.1970108696rem + 0.2173913043vw, 1.375rem);
}

h5,
.h5 {
  font-size: clamp(1.125rem, 1.0720108696rem + 0.2173913043vw, 1.25rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 0.9470108696rem + 0.2173913043vw, 1.125rem);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-links);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-links);
  }
}
a[class] {
  text-decoration: none;
}

button {
  background-color: inherit;
  color: inherit;
}
@media (any-hover: hover) {
  button:hover {
    transform: scale(0.9);
    transition-duration: var(--transition-duration);
  }
}
@media (any-hover: none) {
  button:active {
    transform: scale(0.9);
    transition-duration: var(--transition-duration);
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

.header {
  border-bottom: 0.0625rem solid var(--color-links);
  margin-bottom: 2.5rem;
}
.header__inner {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 0.9375rem;
}
.header__logo {
  margin-right: auto;
}
.header__theme {
  min-width: 4.375rem;
  height: 1.875rem;
  position: relative;
  outline: 0.0625rem solid var(--color-links);
  border-radius: 1.25rem;
}
.header__theme-checkbox {
  opacity: 0;
  visibility: hidden;
}
.header__theme-checkbox:checked + .header__theme-switcher {
  background-color: var(--color-light);
  translate: 2.5rem;
  transition-duration: var(--transition-duration);
}
.header__theme-switcher {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0.3125rem;
  top: 0.3125rem;
  border-radius: var(--border-50);
  display: inline-block;
  background-color: var(--color-dark);
  transition-duration: var(--transition-duration);
}
.header__reg {
  font-size: clamp(1rem, 0.9470108696rem + 0.2173913043vw, 1.125rem);
  color: var(--color-links);
  font-weight: bold;
  border: none;
  padding: 0.625rem;
  outline: 0.0625rem solid var(--color-links);
  border-radius: 0.5rem;
  white-space: nowrap;
}

.main {
  flex-grow: 1;
}
.main__sections {
  display: flex;
}
.main .nav {
  flex-grow: 1;
  border-right: 0.0625rem solid var(--color-links);
}
.main .nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.main .nav__item-btn {
  width: 90%;
  height: 2.5rem;
  border: none;
  outline: 0.0625rem solid var(--color-links);
  border-radius: 0.4375rem;
  background: linear-gradient(325deg, rgba(148, 183, 217, 0.5) 0%, rgba(131, 224, 214, 0.5) 100%);
  box-shadow: 0rem 0rem 0.25rem 0.0625rem rgba(0, 0, 0, 0.5);
}
.main .todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 1.25rem;
  flex-grow: 4;
}
.main .todo__list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.main .todo__item {
  padding: 1.25rem 0.625rem;
  outline: 0.0625rem solid var(--color-links);
  border-radius: 0.625rem;
}
.main .todo__item-radio {
  margin-right: 0.625rem;
}
.main .todo .done {
  text-decoration: line-through;
  outline: 0.0625rem solid var(--color-outline-done);
  background-color: var(--color-bg-done);
}
.main .todo__create {
  display: flex;
  gap: 0.625rem;
  margin-top: 0.625rem;
}
.main .todo__create-input {
  border: 0.0625rem solid var(--color-links);
  flex-grow: 1;
}
.main .todo__create-input:focus-visible {
  outline: none;
  border: 0.0625rem solid #69e7dd;
  transition-duration: var(--transition-duration);
}
.main .todo__create-button {
  padding: 0.625rem;
  border: none;
  outline: 0.0625rem solid var(--color-links);
  border-radius: 0.3125rem;
}/*# sourceMappingURL=main.css.map */